@tailwind base;
@tailwind components;
@tailwind utilities;

root {
    scrollbar-width: thin;
}

html::-webkit-scrollbar {
    width: 6px;
}

html::-webkit-scrollbar-track {
    @apply bg-base-100
}

html::-webkit-scrollbar-thumb {
    @apply bg-primary
}

.font-en {
    font-family: 'NotoSansKR', 'Inter', sans-serif;
}

.font-es {
    font-family: 'NotoSansKR', 'Inter', sans-serif;
}

.font-ko {
    font-family: 'NotoSansKR', 'Inter', sans-serif;
}

.font-zh {
    font-family: 'NotoSansZH', 'Inter', 'sans-serif';
}

.font-ja {
    font-family: 'NotoSansJP', 'Inter', 'sans-serif';
}

