@tailwind base;
@tailwind components;
@tailwind utilities;


.font-en {
    font-family: 'NotoSansKR', 'Inter', sans-serif;
}

.font-es {
    font-family: 'NotoSansKR', 'Inter', sans-serif;
}

.font-ko {
    font-family: 'NotoSansKR', 'Inter', sans-serif;
}

.font-zh {
    font-family: 'NotoSansZH', 'Inter', 'sans-serif';
}

.font-ja {
    font-family: 'NotoSansJP', 'Inter', 'sans-serif';
}

